
*{
    margin:0;
    padding:0;
}
:root{
    --navbar-height: 59px;
}
/*navigation bar*/
#navbar{
    display: flex;
    align-items:center ;
    position: relative;
    top:0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.7;
}
/*Logo and Image*/
#logo{
    margin:10px 34px;
   
}
#logo img{
height: 59px;

margin: 3px 6px;
}


#navbar ul{
    display: flex;
    
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;


}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}
/*home sectiom*/


#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 550px;
    align-items: center;
    border-color: black 2px;
    
   
}
#home{
    background: url('images/bg.jpg');

}

#home::before{
    content: "";
    position:absolute;
   
    
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home h1{
    text-align: center;
}
#home p{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.homepage{
    padding: 12px;

}

#services{
    margin:34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: Arial, Helvetica, sans-serif;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    font-family:'Bree Serif';

}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    text-align: center;
    font-family:'Bree Serif',serif;

}
.btn{
    padding: 6px 20px;
    border:2px solid black;
    color: red;
    margin:17px;
    font-size: 1.5rem;
   border-radius: 10px;
   cursor: pointer;
}
#about{
    border-radius: 10px;
    font-family:'Bree Serif',serif;
    border-color: black;
    padding: 12px;
    background-image: url('images/background.jpg');
    border: 2px solid brown;
}
#about .box{
    
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#about .maincontent{
    text-align: center;
    font-size: medium;
    -ms-text-size-adjust: 20%;
}
/*Books Section*/
#books{
  display:flex;
    margin:34px;
    text-align: center;
}

#books .box{
    
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#books .box img{
    height: 150px;
    margin: auto;
   
}











/*Contact Section*/

#contact{
    position: relative;
    background-image: url('images/contact.jpg');
}
#contact::before{
    content: "";
    position: absolute;
    width:100%;
    height:100% ;
    z-index: -1;
    opacity: 0.7;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#btn{
    align-self: center;
    padding: 4px 20px;
    border:2px solid black;
    color: red;
    margin:17px;
    font-size: 1.5rem;
   border-radius: 10px;
   cursor: pointer;
}


footer{
    height: 20px;
    display: block;
    padding: 9px 20px;
    text-align: center;
    background-color: black;
    position: relative;
    color:white;

}

















